table {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75vw;
  height: 300px;
  width: 1260px;
}
td {
  border: 2px solid black;
  padding: .25vh;
  text-align: center;
  background-color: #81A851;
  font-size: 16px;
}
th {
  border: 2px solid black;
  padding: .25vh;
  font-weight: bold;
  background-color: #c79222;
  font-size: 18px;
}

/* Whole Document Styling */
body {
  background-color: #7851A9;
  width: 1280px;
  margin: auto;
}

/* Header Styling */

nav {
  background-color: #c79222;
}
nav div {
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-around;
}
nav li {
  width: 150px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #81A851;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 15px;
  transition: 350ms;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
}

li:hover {
  background-color: white;
}

h1 {
  height: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 36px;
  background-color: #c79222;
  color: rgb(212, 62, 61);
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
